.ant-page-header-heading-title {
  color: #FFFFFF;
}

.ant-page-header-heading-sub-title {
  color: #9e9e9e
}

.navbar-header {
  background: rgb(25, 67, 134);
}

.navbar-menu {
  margin-left: 25px;
}